.amber {
  background-color: #f59e0b;
}

.blue {
  background-color: #0b69ff;
}

.orange {
  background-color: #f97316;
}

.emerald {
  background-color: #10b981;
}

.teal {
  background-color: #14b8a6;
}

.red {
  background-color: #b91c1c;
}

.light-blue {
  background-color: #0ea5e9;
}

/* Write your CSS here */

.eachlist {
  display: flex;
  flex-direction: column;
}
.pro {
  display: flex;
}
.profileimage {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #0b69ff;
}

.name {
  font-size: 20px;
  color: #1e293b;
  font-weight: bold;
}
.comment {
  font-size: 15px;
  padding-left: 20px;
}
.likeanddeletecontainer {
  display: flex;
  justify-content: space-between;
}
.likecontainer {
  display: flex;
}
.likeicon {
  width: 20px;
  height: auto;
}
.likepara {
  font-size: 15px;
}
.deleteicon {
  width: 20px;
  height: auto;
}
